/* styling for body */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-image: url("../images/pattern.png");
  }

/* styling for the header container */
#header {
    background: #ffffff;
    border: #cccccc;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }

/* styling for my name block in the header */
.myName {
    padding-right: 30px;
    padding-left: 30px;
    left: 480px;
    position: absolute;
    background: #4aaaa5;
  }

/* styling for the navigation bar links */
.nav {
    position: relative;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    float: right;
    right: 24%;
  }

/* footer styling with sticky footer */
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    border-top: 8px #4aaaa5 solid;
    left: 0;
    height: 50px;
    text-align: center;
    color: white;
  }

/* setting footer paragraph style */
  .pFooter{
    font-size: 10px;
    margin-top:20px;
  }

  /*main content container styling  */
.contentContainer {
    width: 920px;
    position: relative;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    overflow: hidden;
  }

/* h1 styling */
h1 {
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:20px;
    padding-right: 20px;
    font-size: 28px;
    color: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 
/* h2 styling */
h2 {
    color: #4aaaa5;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
/* styling for self portrait image */
.image {
    float: left;
    margin-right: 20px;
  }


/* portfolio image hover effect */
.work img:hover{
    opacity: 0.7;
  }
  .work {
    position: relative;
    float: left;
    width: 240px;
    margin: 20px 20px 25px;
    overflow: auto;
  }

  

  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    
  }

  .work p {
    position: absolute;
    bottom: 20px;
    width: 210px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

/* styling for text on about me page */
.meText{
    line-height: 200%;
    margin-top: -10px;
  }

/* Styling for form text */
.formP{
    margin-bottom: -5px;
    margin-top:10px;
    line-height: 200%;
  }

/* styling for default link color */
a:link {
    color: #333;
  }

/* styling for link when visited */
a:visited{
    color: #333;
  }

/* styling for link when mouse hovers over it */
a:hover {
    color: #4aaaa5;
  }

/* styling for link when it is clicked */
a:active {
    color: #99EBFF;
  }

/* setting width and height of text area on the contact page */
.textBox{
    width:920px;
    height: 160px;
  }

/* setting the width of the text field on contact page */
.textLine{
    width:920px;
  }

/* styling for form button */
.button {
    background: #4aaaa5;
    font-size: 15px;
    color: #eee;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
  }

/* hover effect for form button */
.button:hover {
    background: #99EBFF;
    color: #333;
  }
  

  @media screen and (max-width: 768px) {
   
    .contentContainer {
      width: 90%;
    }

    .myName {
      padding-right: 30px;
      padding-left: 30px;
      /* left: 480px; */
      position: static;
      background: #4aaaa5;
    }

    h1 {
      text-align: center;
    }
    .image {
      float: left;
      
      margin-bottom: 20px;
    }

    #header {
    background: #ffffff;
    border: #cccccc;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }

    .textLine{
      width:100%;
    }

    .textBox{
      width:100%
    }

   .work{
     width: 43%;

     margin-right: 20px;
   }

  .work p {
    width:92.1%;
  }
  
  footer {

    margin-top: 20px;
    bottom: 0;
    position: static;
  }

  .nav {
    position: relative;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    float: right;
    right: 20%;
  }
  }

  @media screen and (max-width: 980px) {
    .contentContainer {
      width: 90%;
    }

    .myName {
      padding-right: 30px;
      padding-left: 30px;
      left: 30px;
      position: absolute;
      background: #4aaaa5;
    }

    .nav {
      position: relative;
      padding-top: 30px;
      padding-right: 15px;
      padding-bottom: 30px;
      float: right;
      right: 5%;
    }

    h1 {
      text-align: center;
    }
    .image {
      float: left;
      
      margin-bottom: 20px;
    }

    #header {
    background: #ffffff;
    border: #cccccc;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }

    .textLine{
      width:100%;
    }

    .textBox{
      width:100%
    }

   .work{
     width: 43%;

     margin-right: 20px;
   }

  .work p {
    width:92.1%;
  }
  
  footer {

    margin-top: 20px;
    bottom: 0;
    position: static;
  }
    
  }

  @media screen and (max-width: 640px) {
  
    .contentContainer {
      width: 80%;
    }

    .myName {
      padding-right: 30px;
      padding-left: 30px;
      /* left: 480px; */
      position: static;
      background: #4aaaa5;
    }

    h1 {
      text-align: center;
    }
    .image {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }

    #header {
    background: #ffffff;
    border: #cccccc;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }

    .textLine{
      width:100%;
    }

    .textBox{
      width:100%
    }

   .work{
     width:100%;
     margin:0;
   }

  .work p {
    width:95%;
  }

  footer {

    margin-top: 20px;
    bottom: 0;
    position: static;
  }

  .nav {
    position: relative;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    float: right;
    right: 27%;
  }

   
  }